{% extends "entry/layout.html" %}

{% load static %}

{% block main %}
  <div class="row">
    {% for entry in object_list %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{entry.title}}</h5>
          <p class="card-text">{{entry.content}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static "css/entry/layout.css"%}">
{% endblock %}